<form class="form" (ngSubmit)="onSubmit()">

  <!-- Image -->
  <div class="form-image">
    <div class="form-image-holder">
      <i class="zmdi zmdi-camera zmdi-hc-2x"></i>
    </div>
  </div>

  <!-- Person -->
  <div class="form-data">

    <div class="row">
      <div class="form-group col-10">
          <label for="name">Name</label>
          <input type="text" class="form-control z0" name="name" [(ngModel)]="subjectModel.name" required>
      </div>
      <div class="form-group col-2">
          <label for="age">Age</label>
          <input type="number" class="form-control z0" name="age" [(ngModel)]="subjectModel.age" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
          <label for="gender">Gender</label>
          <select class="" name="gender" [(ngModel)]="subjectModel.gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
          <label for="education">Education</label>
          <select class="" name="education" [(ngModel)]="subjectModel.education" required>
            <option *ngFor="let education of educationArray" [value]="education">{{ education }}</option>
          </select>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-8">
          <label for="tribe">Tribe</label>
          <input type="text" class="form-control z0" name="tribe" [(ngModel)]="subjectModel.tribe" required>
      </div>
      <div class="form-group col-4">
          <label for="household">Household</label>
          <input type="number" class="form-control z0" name="household" [(ngModel)]="subjectModel.household" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
          <label for="size">Size</label>
          <input type="number" class="form-control z0" name="size" [(ngModel)]="subjectModel.size" required>
      </div>
      <div class="form-group col-6">
          <label for="weight">Weight</label>
          <input type="number" class="form-control z0" name="weight" [(ngModel)]="subjectModel.weight" required>
      </div>
    </div>

    <!-- Farm -->
    <!--<div class="row form-divider">
      {{ subjectModel.name }}
    </div>-->

    <!-- Buttons -->
    <div class="row form-controls">
      <button type="submit" name="button" class="button">Submit</button>
    </div>

  </div>

</form>
