<!-- Table Bar -->
<div class="table-bar">

  <!-- Search -->
  <div class="table-bar-search">
    <input type="text" name="searchFilter" placeholder="Suche" class="z0">
    <button type="button" name="button" class="z0">
      <i class="zmdi zmdi-search"></i>
    </button>
  </div>

  <!-- Add -->
  <div class="table-add">
    <a [routerLink]="['/subjects/add']">
      <button type="button" name="button" class="button z0">
        <i class="zmdi zmdi-plus"></i>
      </button>
    </a>
  </div>

  <!-- Remove -->
  <div class="table-remove">
    <button type="button" name="button" class="button z0">
      <i class="zmdi zmdi-minus"></i>
    </button>
  </div>
</div>

<!-- Table Box -->
<table class="table z0">

  <!-- Table Head -->
  <tr class="table-header">
    <td class="table-align-left">
      <i class="zmdi zmdi-square-o"></i>
    </td>
    <td class="table-align-left">Name</td>
    <td>Age</td>
    <td>Gender</td>
    <td>Household</td>
    <td>Education</td>
    <td>Tribe</td>
    <td>
      Land Owned
      <span>(m2)</span>
    </td>
    <td>
      Land Cultivated
      (m2)
    </td>
    <!--<td>Crops</td>
    <td>Work</td>-->
    <td>
      Size
      (cm)
    </td>
    <td>
      Weight
      (kg)
    </td>
  </tr>

  <!-- Table Entry -->
  <tr class="table-entry" *ngFor="let subject of subjects">
    <td class="table-align-left">
      <i class="zmdi zmdi-square-o"></i>
    </td>
    <td class="table-align-left">
      {{ subject.name }}
    </td>
    <td>
      {{ subject.age }}
    </td>
    <td>
      <i class="zmdi zmdi-female" *ngIf="subject.gender === 'female'"></i>
      <i class="zmdi zmdi-male" *ngIf="subject.gender === 'male'"></i>
    </td>
    <td>
      {{ subject.household }}
    </td>
    <td>
      {{ subject.education }}
    </td>
    <td>
      {{ subject.tribe }}
    </td>
    <td>
      {{ subject.landOwned }}
    </td>
    <td>
      {{ subject.landCultivated }}
    </td>
    <!--<td>Crops</td>
    <td>Work</td>-->
    <td>
      {{ subject.size }}
    </td>
    <td>
      {{ subject.weight }}
    </td>
  </tr>

</table>
