<!-- Side navigation -->
<nav>
  <!-- Nav header -->
  <div id="nav-header">
    <span>Sambia</span> Admin
  </div>

  <!-- Nav links -->
  <ul id="nav-link">
    <!-- Dashboard -->
    <li>
      <a href="#" class="nav-link-item">
        <span>
          <i class="zmdi zmdi-apps"></i>
          Dashboard
        </span>
      </a>
    </li>
    <!-- Activities -->
    <li>
      <a href="#" class="nav-link-item">
        <span>
          <i class="zmdi zmdi-run"></i>
          Aktivitäten
        </span>
      </a>
    </li>
    <!-- Probands -->
    <li>
      <a href="#" class="nav-link-item">
        <span>
          <i class="zmdi zmdi-accounts-alt"></i>
          Probanden
        </span>
      </a>
    </li>
    <!-- Logs -->
    <li>
      <a href="#" class="nav-link-item">
        <span>
          <i class="zmdi zmdi-file-text"></i>
          Daten
        </span>
      </a>
    </li>
    <!-- Phones -->
    <li>
      <a href="#" class="nav-link-item">
        <span>
          <i class="zmdi zmdi-smartphone-android"></i>
          Phones
        </span>
      </a>
    </li>
  </ul>
</nav>

<!-- Content-Area -->
<div class="content-area">
  <header class="z1">
    Thomas Daum
  </header>
  <section>
  </section>
</div>
