@import "shared/globals";

nav {
  position: relative;
  width: 220px;
  flex: 0 0 220px;
  height: 100%;

  background: rgba(81,192,53,1);
  background: -moz-linear-gradient(top, rgba(81,192,53,1) 0%, rgba(38,175,77,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,192,53,1)), color-stop(100%, rgba(38,175,77,1)));
  background: -webkit-linear-gradient(top, rgba(81,192,53,1) 0%, rgba(38,175,77,1) 100%);
  background: -o-linear-gradient(top, rgba(81,192,53,1) 0%, rgba(38,175,77,1) 100%);
  background: -ms-linear-gradient(top, rgba(81,192,53,1) 0%, rgba(38,175,77,1) 100%);
  background: linear-gradient(to bottom, rgba(81,192,53,1) 0%, rgba(38,175,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51c035', endColorstr='#26af4d', GradientType=0 );

  #nav-header {
    height: 60px;
    // background-color: #444444;
    // margin-bottom: 25px;
    padding-left: 56px;

    line-height: 60px;
    font-size: 18px;
    font-weight: 400;
    color: $white;
    font-family: $font-secondary;

    span {
      font-weight: 700;
    }
  }

  #nav-link {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;

    li {
      border-left: 3px solid $green;
      transition: all 0.3s ease-in;

      &:hover {
        border-left: 3px solid $white;
      }
    }

    .nav-link-item {
      display: block;
      position: relative;
      height: 55px;
      width: 100%;

      line-height: 55px;
      text-decoration: none;

      span {
        color: $white;
        display: inline-block;
        vertical-align: middle;

        i {
          display: inline-block;
          vertical-align: middle;
          width: 50px;
          margin-top: -3px;

          text-align: center;
          color: $light-green;
        }
      }
    }
  }
}

.content-area {
  position: relative;
  width: 100%;
  height: 100%;

  header {
    display: block;
    width: 100%;
    height: 60px;

    text-align: right;
    line-height: 60px;
    background-color: $light-white;
    color: $grey;
  }

  section {
    display: block;
    height: 100%;
    width: 90%;

    padding: 35px 50px 35px 50px;

    // background-color: #ECF1F4;
  }
}

.table-bar {

  .table-bar-search {
    float: left;

    input {
      height: 30px;
      width: 300px;
      padding: 5px 15px;

      border-radius: 2px;
      border: 0;
      outline: none;
    }

    button {
      height: 40px;
      padding: 0px 20px;
      margin-left: -5px;

      background-color: $light-white;
      cursor: pointer;

      border: 0;
      outline: none;

      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $green;
        color: $white;
      }
    }
  }

  .table-add {
    float: right;
  }

}

.table {
  position: relative;
  width: 100%;
  top: 25px;

  padding: 15px;

  border-spacing: 0px;
  border-radius: 2px;

  tr {
    height: 50px;
    line-height: 40px;

    td {
      text-align: right;
      margin: 0;
      padding: 0;
      border-collapse: collapse;
      border-bottom: 1px solid $light-white;

      font-size: 14px;

      &.table-align-left {
        text-align: left;
      }

      &:first-child {
        width: 20px;
      }
    }
  }

  .table-header {
    font-weight: 400;

    & td {
      font-size: 13px;
      font-weight: 700;
      border-bottom: 1px solid $light-white;

      span {

      }
    }
  }
}
