<!-- Table Bar -->
<div class="table-bar">

  <!-- Search -->
  <div class="table-bar-search">
    <input type="text" name="searchFilter" placeholder="Suche" class="z0">
    <button type="button" name="button" class="z0">
      <i class="zmdi zmdi-search"></i>
    </button>
  </div>

  <!-- Add -->
  <div class="table-add">
    <a [routerLink]="['/activity/add']">
      <button type="button" name="button" class="button z0">
        <i class="zmdi zmdi-plus"></i>
      </button>
    </a>
  </div>

  <!-- Remove -->
  <div class="table-remove">
    <button type="button" name="button" class="button z0">
      <i class="zmdi zmdi-minus"></i>
    </button>
  </div>
</div>

<!-- Table Box -->
<table class="table z0">

  <!-- Table Head -->
  <tr class="table-header">
    <td class="table-align-left">
      <i class="zmdi zmdi-square-o"></i>
    </td>
    <td class="table-align-left">Group</td>
    <td>Activities</td>
    <td>Sub-Activities</td>
    <td>Enabled</td>
  </tr>

  <!-- Table Entry -->
  <tr class="table-entry"
    *ngFor="let group of groupArray; let i = index"
    (click)="openGroup(group.id)">
    <td class="table-align-left">
      <i class="zmdi zmdi-square-o"></i>
    </td>
    <td class="table-align-left">
      {{ group.name }}
    </td>
    <td>
      <span *ngFor="let activity of group.activities">{{ activity.name }}</span>
    </td>
    <td>
      <span *ngFor="let item of group.activities[i].items">{{ item.name }}</span>
    </td>
    <td>
      <i class="zmdi zmdi-check-circle" *ngIf="group.enabled"></i>
      <i class="zmdi zmdi-minus-circle" *ngIf="!group.enabled"></i>
    </td>
  </tr>

</table>
