@import 'globals';

.form {
  display: block;
  width: 100%;
  margin: 0 auto;

  .form-image {
    float: left;
    width: 15%;

    .form-image-holder {
      float: right;
      display: block;
      margin-right: 25px;

      width: 185px;
      height: 185px;

      text-align: center;

      border: 2px solid $green;
      border-radius: 2px;
      background-color: $green;

      i {
        padding: 20px;
        margin-top: 60px;
        color: $white;

        cursor: pointer;
      }
    }
  }

  .form-data {
    float: left;
    width: 70%;

    padding-left: 15px;
    padding-right: 15px;

    .form-controls {
      float: right;
    }
  }

  .form-divider  {
    margin-top: 25px;
    margin-bottom: 25px;

    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }

  .form-header {

    h4 {
      float: left;
      font-family: $font-secondary;
    }
    .button-round {
      margin-top: 10px;
      float: right;
      cursor: pointer;

      .zmdi-circle {
        color: $green;
      }
    }
  }

  .form-item {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;

    .form-item-image-holder {
      float: left;
      line-height: 40px;
      height: 40px;
      width: 40px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 15px;

      text-align: center;

      border: 2px solid $green;
      border-radius: 2px;
      background-color: $green;

      .zmdi {
        color: $white;
      }
    }

    .form-item-name {
      float: left;
      font-size: 13px;
      font-weight: 400;
    }

    .form-item-controls {
      float: right;
      // margin-right: 10px;

      span {
        padding: 7px;
        cursor: pointer;

        .sub-indicator {
          font-size: 12px;
        }

        .zmdi-check-circle {
          color: $green;
        }
      }
    }
  }
}

.form-group {
  margin-bottom: 15px;

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    // margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
  }

  input, select {
    display: block;
    height: 40px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 0;
    border: 0;
    outline: none;

    &.ng-valid[required] {
      border-left: 2px solid $green;
    }
    &.ng-invalid {
      border-left: 2px solid $red;
    }
  }

  select {
    /*background-color: $green;
    color: $white;*/
  }

}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);

  &.show {
    display: block;
    opacity: 1;
    animation: fade 1s ease-in-out;
  }

  .modal {
    position: absolute;
    min-width: 50%;
    height: 50%;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    padding: 25px;
    background-color: $white;

    .modal-header {
      height: 30px;

      button {
        float: right;
        cursor: pointer;
        background-color: $white;
        border-radius: 0;
        border: 0;
        outline: none;

        color: $grey;
      }
    }

    .modal-body {
      padding: 25px;

      .modal-divider  {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-right: 15px;

        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
      }

      .form-header {

        h4 {
          float: left;
          font-family: $font-secondary;
        }
        .button-round {
          margin-top: 10px;
          float: right;
          cursor: pointer;

          .zmdi-circle {
            color: $green;
          }
        }
      }

      .form-item {
        display: block;
        width: 100%;
        height: 60px;
        line-height: 60px;

        .form-item-image-holder {
          float: left;
          line-height: 40px;
          height: 40px;
          width: 40px;
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 15px;

          text-align: center;

          border: 2px solid $green;
          border-radius: 2px;
          background-color: $green;

          .zmdi {
            color: $white;
          }
        }

        .form-item-name {
          float: left;
          font-size: 13px;
          font-weight: 400;
        }

        .form-item-controls {
          float: right;
          // margin-right: 10px;

          span {
            padding: 7px;
            cursor: pointer;

            .sub-indicator {
              font-size: 12px;
            }

            .zmdi-check-circle {
              color: $green;
            }
          }
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    // transform: scale(0.8);
  }
  100% {
    opacity: 1;
    // transform: scale(1);
  }
}
